* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  background-image: url("https://t4.ftcdn.net/jpg/01/42/56/97/360_F_142569702_fICuTxOiAODLRN5QaXmEuP30mbiA6OEb.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 60vh;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  color: white;
}

body {
  font-family: Arial, sans-serif;
  text-align: center;
  color: #333;
}

h1 {
  color: white;
  font-weight: 900;
  font-size: 96px;
  letter-spacing: 16px;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;

  display: flex;
  justify-content: center;
  gap: 40px;
}
nav ul li {
  font-size: 16px;
}
nav ul li a {
  text-decoration: none;
  color: #111;
}

.section {
  padding: 60px 20px;
  text-align: center;
  width: 100vw;
  display: block;
}

.section-white {
  background-color: #ffffff;
  color: #111;
}
.section-black {
  background-color: #212029;
  color: #ffffff;
}
.icon-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  margin-top: 60px;
}
.icon-row-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 16px;
}
.img-icon {
  width: 48px;
  height: 48px;
}
.icon p {
  font-size: 12px;
  letter-spacing: 2px;
  margin-top: 6px;
  color: #333;
}
