* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  background-image: url("https://t4.ftcdn.net/jpg/01/42/56/97/360_F_142569702_fICuTxOiAODLRN5QaXmEuP30mbiA6OEb.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  color: white;
}

body {
  font-family: Arial, sans-serif;
  background-color: #fafafa;
  text-align: center;
  color: #333;
}

h1 {
  color: white;
  font-weight: 900;
  font-size: 96px;
  letter-spacing: 16px;
}
