* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  background-image: url("https://t4.ftcdn.net/jpg/01/42/56/97/360_F_142569702_fICuTxOiAODLRN5QaXmEuP30mbiA6OEb.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 60vh;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  color: white;
}

body {
  font-family: Arial, sans-serif;
  text-align: center;
  color: #333;
  overflow-x: hidden;
}

h1 {
  color: white;
  font-weight: 900;
  font-size: 96px;
  letter-spacing: 16px;
}

.topnav {
  width: 100%;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}

.topnav ul {
  list-style: none;
  margin: 0;
  padding: 8px 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 34px;
  padding-left: 0;
}

.topnav ul li {
  font-size: 12px;
  letter-spacing: 2px;
}

.topnav ul li a {
  text-decoration: none;
  color: #777;
  padding: 6px 18px;
  border: 5px solid transparent;
  transition: border 0.2 ease, color 0.2s ease;
}
.topnav ul li a:hover {
  border: 5px solid #111;
  color: #111;
}

.section {
  padding: 60px 0px;
  text-align: center;
  width: 100vw;
  display: block;
}

.section-white {
  background-color: #ffffff;
  color: #111;
  padding-top: 0;
}
.section-white-h2 {
  padding: 104px 0 54px 0;
}
.section-white-p {
  padding: 0px 480px;
}
.section-black {
  background-color: #212029;
  color: #ffffff;
  padding: 80px 0;
}
.section-black-container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 80px;
}
.section-black-text {
  flex: 1;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 24;
}
.section-black-text__h2 {
  font-size: 36px;
  line-height: 1.1;
}
.section-black-text__p {
  font-size: 15px;
  color: gray;
  line-height: 1.3;
  margin-top: 16px;
  margin-bottom: 16px;
}
.section-black-text__button {
  width: 100px;
  margin-top: 24px;
  display: inline-block;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 999px;
  color: #212029;
  text-decoration: none;
  font-size: 12px;
  align-content: center;
  align-items: center;
  background-color: white;
  font-weight: bold;
}
.icon-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 160px;
  margin-top: 60px;
}
.icon-row-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 16px;
}
.img-icon {
  width: 48px;
  height: 48px;
}
.icon p {
  font-size: 12px;
  letter-spacing: 2px;
  margin-top: 6px;
  color: #333;
}
.t-icon {
  width: 40px;
  height: 40px;
}
.logos {
  flex: 1.1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
.logos-vintage__img {
  max-width: 560px;
  width: 100%;
  height: auto;
  display: block;
  filter: brightness(1.4);
}
.section-white__p {
  padding: 80px 320px 80px 320px;
  align-items: center;
  text-align: center;
}
